src/main/java/ru/bodrov/gallery/service/servicews/IPicture.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.7-b01  svn-revision#${svn.Last.Changed.Rev}. -->
<definitions targetNamespace="http://servicews.service.gallery.bodrov.ru/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://servicews.service.gallery.bodrov.ru/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://servicews.service.gallery.bodrov.ru/"
                  schemaLocation="IPicture_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="getPictureByTitle">
    <part name="parameters" element="tns:getPictureByTitle"/>
  </message>
  <message name="getPictureByTitleResponse">
    <part name="parameters" element="tns:getPictureByTitleResponse"/>
  </message>
  <message name="removePictureById">
    <part name="parameters" element="tns:removePictureById"/>
  </message>
  <message name="removePictureByIdResponse">
    <part name="parameters" element="tns:removePictureByIdResponse"/>
  </message>
  <message name="getPictureByTypeId">
    <part name="parameters" element="tns:getPictureByTypeId"/>
  </message>
  <message name="getPictureByTypeIdResponse">
    <part name="parameters" element="tns:getPictureByTypeIdResponse"/>
  </message>
  <message name="addNewPicture">
    <part name="parameters" element="tns:addNewPicture"/>
  </message>
  <message name="addNewPictureResponse">
    <part name="parameters" element="tns:addNewPictureResponse"/>
  </message>
  <message name="getPictureById">
    <part name="parameters" element="tns:getPictureById"/>
  </message>
  <message name="getPictureByIdResponse">
    <part name="parameters" element="tns:getPictureByIdResponse"/>
  </message>
  <message name="getListPicture">
    <part name="parameters" element="tns:getListPicture"/>
  </message>
  <message name="getListPictureResponse">
    <part name="parameters" element="tns:getListPictureResponse"/>
  </message>
  <portType name="IPicture">
    <operation name="getPictureByTitle">
      <input ns1:Action="http://servicews.service.gallery.bodrov.ru/IPicture/getPictureByTitleRequest" message="tns:getPictureByTitle" xmlns:ns1="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns2:Action="http://servicews.service.gallery.bodrov.ru/IPicture/getPictureByTitleResponse" message="tns:getPictureByTitleResponse" xmlns:ns2="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="removePictureById">
      <input ns3:Action="http://servicews.service.gallery.bodrov.ru/IPicture/removePictureByIdRequest" message="tns:removePictureById" xmlns:ns3="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns4:Action="http://servicews.service.gallery.bodrov.ru/IPicture/removePictureByIdResponse" message="tns:removePictureByIdResponse" xmlns:ns4="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="getPictureByTypeId">
      <input ns5:Action="http://servicews.service.gallery.bodrov.ru/IPicture/getPictureByTypeIdRequest" message="tns:getPictureByTypeId" xmlns:ns5="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns6:Action="http://servicews.service.gallery.bodrov.ru/IPicture/getPictureByTypeIdResponse" message="tns:getPictureByTypeIdResponse" xmlns:ns6="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="addNewPicture">
      <input ns7:Action="http://servicews.service.gallery.bodrov.ru/IPicture/addNewPictureRequest" message="tns:addNewPicture" xmlns:ns7="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns8:Action="http://servicews.service.gallery.bodrov.ru/IPicture/addNewPictureResponse" message="tns:addNewPictureResponse" xmlns:ns8="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="getPictureById">
      <input ns9:Action="http://servicews.service.gallery.bodrov.ru/IPicture/getPictureByIdRequest" message="tns:getPictureById" xmlns:ns9="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns10:Action="http://servicews.service.gallery.bodrov.ru/IPicture/getPictureByIdResponse" message="tns:getPictureByIdResponse" xmlns:ns10="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="getListPicture">
      <input ns11:Action="http://servicews.service.gallery.bodrov.ru/IPicture/getListPictureRequest" message="tns:getListPicture" xmlns:ns11="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns12:Action="http://servicews.service.gallery.bodrov.ru/IPicture/getListPictureResponse" message="tns:getListPictureResponse" xmlns:ns12="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
  </portType>
</definitions>

